{# templates/gymnase/index.html.twig #}

{% extends "navbase.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    
    <div class="container">
        <h1 class="my-3"> Les gymnases </h1>
        {# boucle sur les gymnases #}
        <div class="row">
            {% for ungymnase in les_gymnases %}
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            <!--{#{ unlogement.nbchambres }#} chambres <br>!-->
                        </div>
                        <a href="{{ path('gymnase_show', {'id': ungymnase.id}) }}">
                            <img src="https://via.placeholder.com/270x180.png" alt="Image du gymnase" style="height: 200px; width: 100%; display: block">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path('gymnase_show', {'id': ungymnase.id}) }}"> {{ ungymnase.ville }}</a>
                            </h4>
                            <p class="card-text">
                                {{ ungymnase.rue }}<br>
                                {{ ungymnase.cp }}
                            </p>
                            <a href="{{ path('gymnase_show', {'id': ungymnase.id}) }}" class="btn btn-primary float-right">En savoir plus !</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
            
{% endblock %}