{# templates/gymnase/show.html.twig #}

{% extends "navbase.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    
    <div class="container">
        <p>
            {{ un_gymnase.ville }}<br>
            {{ un_gymnase.rue }}<br>
            {{ un_gymnase.cp }}
        </p>
    </div>
{% endblock %}