{# templates/photo/index.html.twig #}

{% extends "navbase.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    
    <div class="container">
        <h1 class="my-3"> Les photos </h1>
        {# boucle sur les photos #}
        <div class="row">
            {% for unephoto in les_photos %}
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            <!--{#{ unlogement.nbchambres }#} chambres <br>!-->
                        </div>
                        <a href="{{ path('photo_show', {'id': unephoto.id}) }}">
                            <img src="https://via.placeholder.com/270x180.png" alt="Image de l'arbitre" style="height: 200px; width: 100%; display: block">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path('photo_show', {'id': unephoto.id}) }}"> {{ unephoto.legende }}</a>
                            </h4>
                            <a href="{{ path('photo_show', {'id': unephoto.id}) }}" class="btn btn-primary float-right">En savoir plus !</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
            
{% endblock %}