{# templates/arbitres/show.html.twig #}

{% extends "navbase.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    
    <div class="container">
        <p>
            {{ un_arbitre.nom }}<br>
            {{ un_arbitre.prenom }}<br>
            {{ un_arbitre.tel }}
        </p>
    </div>
{% endblock %}