{# templates/accueil.html.twig #}

{% extends "navbase.html.twig" %}

{%  block title %} {{ parent() }} {% endblock %}

{% block body %}
    <h1>RecapiMatchs</h1>
    <h2>Bienvenue {{ pseudo }}</h2>
    {% if nb_matchs >= 10 %}
        <h3>Profitez de 10% de remise en devenant membre premium !</h3>
    {% else %}
        <h3>{{ nb_matchs }} matchs joués, encore {% set manque_matchs = 10 - nb_matchs %} {{ manque_matchs }} pour bénéficier de 10% de remise en devenant membre premium... </h3>
    {% endif %}
    <p>Retrouvez le récapitulatif de vos matchs sans soucis.</p>
    <h4>Vos derniers matchs</h4>
    <ul>
        {% for matchs in mes_matchs %}
            <li> {{ matchs }} </li>
        {% endfor %}
    </ul>
{% endblock %}