{# templates/navbase.html.twig #}

{% extends "base.html.twig" %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('accueil') }}">RecapiMatchs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tous les matchs</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if pseudo != "" %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">{{ pseudo }}</a>
                        <div class="dropdown‐menu dropdown‐menu‐right" aria‐labelledby="accountDropdownLink">
                            <a href="#" class="dropdown‐item">Mon compte</a>
                            <a href="#" class="dropdown‐item">Mes matchs</a>
                            <div class="dropdown‐divider"></div>
                            <a href="#" class="dropdown‐item">Déconnexion</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                      <a href="#" class="nav-link">Inscription</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
            
    {% for label, messages in app.flashes %}
        <div class="container">
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    <p>{{ message | raw }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}