{# templates/equipes/show.html.twig #}

{% extends "navbase.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    
    <div class="container">
        <p>
            {{ une_equipe.nom }}
        </p>
    </div>
{% endblock %}