{# templates/matchs/show.html.twig #}

{% extends "navbase.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    
    <div class="container">
        <p>
            {{ un_matchs.date }}
        </p>
    </div>
{% endblock %}